In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Q1:  python program to display all the header tags from wikipedia.org.

In [108]:
def wikipedia_header_tags(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    header=[]
    
    header.append(soup.find('span',class_='central-textlogo__image sprite svg-Wikipedia_wordmark').text.split('\n')[1])
    
    df=pd.DataFrame({'Header tag':header})
    print(df)
wikipedia_header_tags('https://www.wikipedia.org/')

  Header tag
0  Wikipedia

# Q2:  python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [6]:
def top_imdb100(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    name=[]
    rating=[]
    yor=[]
    for i in list(soup.find_all('h3',class_="lister-item-header")):
        name.append(i.text.split('\n')[2])
    
    for i in list(soup.find_all('div',class_='inline-block ratings-imdb-rating')):
        rating.append(i.text.split('\n')[2])

    for i in list(soup.find_all('span',class_='lister-item-year text-muted unbold')):
        yor.append(i.text)
    df=pd.DataFrame({'movie name':name,'rating':rating,'year of release':yor})
    print(df)
    
def top_imdb1001(url2):
    page=requests.get(url2)
    soup=BeautifulSoup(page.content)
    name1=[]
    rating1=[]
    yor1=[]
    for i in list(soup.find_all('h3',class_="lister-item-header")):
        name1.append(i.text.split('\n')[2])
    
    for i in list(soup.find_all('div',class_='inline-block ratings-imdb-rating')):
        rating1.append(i.text.split('\n')[2])

    for i in list(soup.find_all('span',class_='lister-item-year text-muted unbold')):
        yor1.append(i.text)
    
    df1=pd.DataFrame({'movie name':name1,'rating':rating1,'year of release':yor1})
    print(df1)
    
top_imdb100('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc')
top_imdb1001('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt')

                                           movie name rating year of release
0                            The Shawshank Redemption    9.3          (1994)
1                                       The Godfather    9.2          (1972)
2                                     The Dark Knight    9.0          (2008)
3       The Lord of the Rings: The Return of the King    9.0          (2003)
4                                    Schindler's List    9.0          (1993)
5                               The Godfather Part II    9.0          (1974)
6                                        12 Angry Men    9.0          (1957)
7                                        Pulp Fiction    8.9          (1994)
8                                           Inception    8.8          (2010)
9               The Lord of the Rings: The Two Towers    8.8          (2002)
10                                         Fight Club    8.8          (1999)
11  The Lord of the Rings: The Fellowship of the Ring    8.8          (2001)
12                                       Forrest Gump    8.8          (1994)
13                    Il buono, il brutto, il cattivo    8.8          (1966)
14                                         The Matrix    8.7          (1999)
15                                         Goodfellas    8.7          (1990)
16                            The Empire Strikes Back    8.7          (1980)
17                    One Flew Over the Cuckoo's Nest    8.7          (1975)
18                                       Interstellar    8.6          (2014)
19                                     Cidade de Deus    8.6          (2002)
20                      Sen to Chihiro no kamikakushi    8.6          (2001)
21                                Saving Private Ryan    8.6          (1998)
22                                     The Green Mile    8.6          (1999)
23                                    La vita è bella    8.6          (1997)
24                                              Se7en    8.6          (1995)
25                         Terminator 2: Judgment Day    8.6          (1991)
26                           The Silence of the Lambs    8.6          (1991)
27                                          Star Wars    8.6          (1977)
28                                            Seppuku    8.6          (1962)
29                               Shichinin no samurai    8.6          (1954)
30                              It's a Wonderful Life    8.6          (1946)
31                                       Gisaengchung    8.5          (2019)
32                                           Whiplash    8.5          (2014)
33                                   The Intouchables    8.5          (2011)
34                                       The Prestige    8.5          (2006)
35                                       The Departed    8.5          (2006)
36                                        The Pianist    8.5          (2002)
37                                          Gladiator    8.5          (2000)
38                                 American History X    8.5          (1998)
39                                 The Usual Suspects    8.5          (1995)
40                                               Léon    8.5          (1994)
41                                      The Lion King    8.5          (1994)
42                              Nuovo Cinema Paradiso    8.5          (1988)
43                                     Hotaru no haka    8.5          (1988)
44                                 Back to the Future    8.5          (1985)
45                                     Apocalypse Now    8.5          (1979)
46                                              Alien    8.5          (1979)
47                       Once Upon a Time in the West    8.5          (1968)
48                                             Psycho    8.5          (1960)
49                                        Rear Window    8.5          (1954)
                                           movie name rating year of release
0                                          Casablanca    8.5          (1942)
1                                        Modern Times    8.5          (1936)
2                                         City Lights    8.5          (1931)
3                                          Capharnaüm    8.4          (2018)
4                                               Joker    8.4      (I) (2019)
5                                      Kimi no na wa.    8.4          (2016)
6                   Spider-Man: Into the Spider-Verse    8.4          (2018)
7                                   Avengers: Endgame    8.4          (2019)
8                              Avengers: Infinity War    8.4          (2018)
9                                                Coco    8.4      (I) (2017)
10                                   Django Unchained    8.4          (2012)
11                                  Top Gun: Maverick    8.4          (2022)
12                              The Dark Knight Rises    8.4          (2012)
13                                           3 Idiots    8.4          (2009)
14                                             WALL·E    8.4          (2008)
15                                The Lives of Others    8.4          (2006)
16                                           Oldeuboi    8.4          (2003)
17                                            Memento    8.4          (2000)
18                                    American Beauty    8.4          (1999)
19                                      Mononoke-hime    8.4          (1997)
20                                         Braveheart    8.4          (1995)
21                                       Idi i smotri    8.4          (1985)
22                                             Aliens    8.4          (1986)
23                                            Amadeus    8.4          (1984)
24                            Raiders of the Lost Ark    8.4          (1981)
25                                           Das Boot    8.4          (1981)
26                                        The Shining    8.4          (1980)
27                                  Tengoku to jigoku    8.4          (1963)
28  Dr. Strangelove or: How I Learned to Stop Worr...    8.4          (1964)
29                        Witness for the Prosecution    8.4          (1957)
30                                     Paths of Glory    8.4          (1957)
31                                       Sunset Blvd.    8.4          (1950)
32                                 The Great Dictator    8.4          (1940)
33                                             Jagten    8.3          (2012)
34                                        Toy Story 3    8.3          (2010)
35                               Inglourious Basterds    8.3          (2009)
36              Eternal Sunshine of the Spotless Mind    8.3          (2004)
37                                Requiem for a Dream    8.3          (2000)
38                                  Good Will Hunting    8.3          (1997)
39                                          Toy Story    8.3          (1995)
40                                     Reservoir Dogs    8.3          (1992)
41                        Once Upon a Time in America    8.3          (1984)
42         Star Wars: Episode VI - Return of the Jedi    8.3          (1983)
43                              2001: A Space Odyssey    8.3          (1968)
44                                 Lawrence of Arabia    8.3          (1962)
45                                 North by Northwest    8.3          (1959)
46                                            Vertigo    8.3          (1958)
47                                Singin' in the Rain    8.3          (1952)
48                                       Citizen Kane    8.3          (1941)
49                  M - Eine Stadt sucht einen Mörder    8.3          (1931)

# Q3: IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [121]:
def top_imdb100_hindi(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    name=[]
    rating=[]
    yor=[]

    for i in list(soup.find_all('td',class_="titleColumn")):
        name.append(i.text.split('\n')[2])
    
    for i in list(soup.find_all('td',class_='ratingColumn imdbRating')):
        rating.append(i.text.split('\n')[1])

    for i in list(soup.find_all('td',class_='titleColumn')):
        yor.append(i.text.split('\n')[2])
        
    df=pd.DataFrame({'movie name':name[:100],'rating':rating[:100],'year of release':yor[:100]})
    print(df)
    
    
top_imdb100_hindi('https://www.imdb.com/india/top-rated-indian-movies/')

                                   movie name rating  \
0                                     Kantara    8.6
1         Ramayana: The Legend of Prince Rama    8.5
2                  Rocketry: The Nambi Effect    8.4
3                                  Anbe Sivam    8.4
4                                     Nayakan    8.4
..                                        ...    ...
95                                Ustad Hotel    8.0
96                   Theeran Adhigaaram Ondru    8.0
97                            Rang De Basanti    8.0
98                Baahubali 2: The Conclusion    8.0
99                                     Angoor    8.0

                              year of release
0                                     Kantara
1         Ramayana: The Legend of Prince Rama
2                  Rocketry: The Nambi Effect
3                                  Anbe Sivam
4                                     Nayakan
..                                        ...
95                                Ustad Hotel
96                   Theeran Adhigaaram Ondru
97                            Rang De Basanti
98                Baahubali 2: The Conclusion
99                                     Angoor

[100 rows x 3 columns]

# Q4)  display list of respected former presidents of India(i.e. Name , Term of office)

In [150]:
def list_former_presidents(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    
    president_name=[]
    president_term=[]
    
    
    for i in soup.find_all('div',class_='presidentListing'):
        president_name.append(i.text.split('\n')[1])
        
    for i in soup.find_all('div',class_='presidentListing'):
        president_term.append(i.text.split('\n')[2])
    
    data=pd.DataFrame({'Former president name':president_name,'Term of office':president_term})
    print(data)
    
    
list_former_presidents('https://presidentofindia.nic.in/former-presidents.htm')

                          Former president name  \
0           Shri Ram Nath Kovind (birth - 1945)
1             Shri Pranab Mukherjee (1935-2020)
2   Smt Pratibha Devisingh Patil (birth - 1934)
3            DR. A.P.J. Abdul Kalam (1931-2015)
4            Shri K. R. Narayanan (1920 - 2005)
5           Dr Shankar Dayal Sharma (1918-1999)
6               Shri R Venkataraman (1910-2009)
7                  Giani Zail Singh (1916-1994)
8         Shri Neelam Sanjiva Reddy (1913-1996)
9          Dr. Fakhruddin Ali Ahmed (1905-1977)
10     Shri Varahagiri Venkata Giri (1894-1980)
11                 Dr. Zakir Husain (1897-1969)
12     Dr. Sarvepalli Radhakrishnan (1888-1975)
13             Dr. Rajendra Prasad (1884-1963)

                                       Term of office
0     Term of Office: 25 July, 2017 to 25 July, 2022
1     Term of Office: 25 July, 2012 to 25 July, 2017
2     Term of Office: 25 July, 2007 to 25 July, 2012
3     Term of Office: 25 July, 2002 to 25 July, 2007
4     Term of Office: 25 July, 1997 to 25 July, 2002
5     Term of Office: 25 July, 1992 to 25 July, 1997
6     Term of Office: 25 July, 1987 to 25 July, 1992
7     Term of Office: 25 July, 1982 to 25 July, 1987
8     Term of Office: 25 July, 1977 to 25 July, 1982
9   Term of Office: 24 August, 1974 to 11 February...
10  Term of Office: 3 May, 1969 to 20 July, 1969 a...
11        Term of Office: 13 May, 1967 to 3 May, 1969
12       Term of Office: 13 May, 1962 to 13 May, 1967
13   Term of Office: 26 January, 1950 to 13 May, 1962

# Q5a: Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [57]:
def top_10_odi_men_team(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    odi_team=[]
    matches_played=[]
    points=[]
    odi_rating=[]
    for i in soup.find_all('span',class_='u-hide-phablet'):
        odi_team.append(i.text)
    matches_played.append(soup.find('td',class_='rankings-block__banner--matches').text)
    points.append(soup.find('td',class_='rankings-block__banner--points').text)
    odi_rating.append(soup.find('td',class_='rankings-block__banner--rating u-text-right').text.split('\n')[1])
    count=0
    for i in list(soup.find_all('td',class_='table-body__cell u-center-text'))[:18]:
        if count%2==0:
            matches_played.append(i.text)
        else:
            points.append(i.text) 
        count+=1
    for i in list(soup.find_all('td',class_='table-body__cell u-text-right rating'))[:9]:
        odi_rating.append(i.text)
                  
    df=pd.DataFrame({'odi_teams':odi_team[:10],
                    'matches_played':matches_played,
                    'points':points,
                    'odi_rating':odi_rating})
    print(df)
top_10_odi_men_team('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

      odi_teams matches_played points                       odi_rating
0       England             27  3,226                              119
1   New Zealand             22  2,508                              114
2         India             34  3,802                              112
3      Pakistan             22  2,354                              107
4     Australia             29  3,071                              106
5  South Africa             24  2,392                              100
6    Bangladesh             30  2,753                               92
7     Sri Lanka             29  2,658                               92
8   West Indies             41  2,902                               71
9   Afghanistan             18  1,238                               69

# Q5b: Top 10 ODI Batsmen along with the records of their team and rating

In [53]:
def top_10_odi_batsmen(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    player=[]
    team=[]
    rating=[]
    for i in list(soup.find_all('div',class_="rankings-block__banner--name")[:1]):
        player.append(i.text)
    for i in list(soup.find_all('div',class_="rankings-block__banner--nationality")[:1]):
        team.append(i.text.split('\n')[2])
    for i in list(soup.find_all('div',class_="rankings-block__banner--rating")[:1]):
        rating.append(i.text)
    for i in list(soup.find_all('td',class_="table-body__cell name"))[:9]:
        player.append(i.text.split('\n')[1])
    for i in list(soup.find_all('span',class_="table-body__logo-text"))[:9]:
        team.append(i.text)
    for i in list(soup.find_all('td',class_="table-body__cell u-text-right rating"))[:9]:
        rating.append(i.text)
        
        
    df=pd.DataFrame({'player':player,
                    'team':team,
                    'rating':rating})
    print(df)
top_10_odi_batsmen('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')

                  player team rating
0             Babar Azam  PAK    890
1            Imam-ul-Haq  PAK    779
2  Rassie van der Dussen   SA    766
3        Quinton de Kock   SA    759
4         Jonny Bairstow  ENG    732
5           David Warner  AUS    725
6            Virat Kohli  IND    722
7           Rohit Sharma  IND    718
8            Ross Taylor   NZ    701
9            Steve Smith  AUS    697

# Q5c: Top 10 ODI bowlers along with the records of their team and rating.

In [56]:
def top_10_odi_bowlers(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    player=[]
    team=[]
    rating=[]
    for i in list(soup.find_all('div',class_="rankings-block__banner--name")[1:2]):
        player.append(i.text)
    for i in list(soup.find_all('div',class_="rankings-block__banner--nationality")[1:2]):
        team.append(i.text.split('\n')[2])
    for i in list(soup.find_all('div',class_="rankings-block__banner--rating")[1:2]):
        rating.append(i.text)
    for i in list(soup.find_all('td',class_="table-body__cell name"))[9:18]:
        player.append(i.text.split('\n')[1])
    for i in list(soup.find_all('span',class_="table-body__logo-text"))[9:18]:
        team.append(i.text)
    for i in list(soup.find_all('td',class_="table-body__cell u-text-right rating"))[9:18]:
        rating.append(i.text)
        
        
    df=pd.DataFrame({'player':player,
                    'team':team,
                    'rating':rating})
    print(df)
top_10_odi_bowlers('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')

             player team rating
0       Trent Boult   NZ    775
1    Josh Hazlewood  AUS    718
2  Mujeeb Ur Rahman  AFG    676
3    Shaheen Afridi  PAK    661
4     Mohammad Nabi  AFG    657
5      Mehedi Hasan  BAN    655
6        Matt Henry   NZ    654
7    Mitchell Starc  AUS    653
8       Rashid Khan  AFG    651
9    Jasprit Bumrah  IND    642

# Q6a: Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [37]:
def top_10_odi_team(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    odi_team=[]
    matches_played=[]
    points=[]
    odi_rating=[]
    for i in soup.find_all('span',class_='u-hide-phablet'):
        odi_team.append(i.text)
    matches_played.append(soup.find('td',class_='rankings-block__banner--matches').text)
    points.append(soup.find('td',class_='rankings-block__banner--points').text)
    odi_rating.append(soup.find('td',class_='rankings-block__banner--rating u-text-right').text.split('\n')[1])
    count=0
    for i in list(soup.find_all('td',class_='table-body__cell u-center-text'))[:18]:
        if count%2==0:
            matches_played.append(i.text)
        else:
            points.append(i.text) 
        count+=1
    for i in list(soup.find_all('td',class_='table-body__cell u-text-right rating'))[:9]:
        odi_rating.append(i.text)
                  
    df=pd.DataFrame({'odi_teams':odi_team[:10],
                    'matches_played':matches_played,
                    'points':points,
                    'odi_rating':odi_rating})
    print(df)
top_10_odi_team('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

      odi_teams matches_played points                       odi_rating
0     Australia             18  3,061                              170
1  South Africa             26  3,098                              119
2       England             25  2,904                              116
3         India             27  2,820                              104
4   New Zealand             24  2,425                              101
5   West Indies             24  2,334                               97
6    Bangladesh             12    932                               78
7      Pakistan             21  1,237                               59
8       Ireland             11    516                               47
9     Sri Lanka              8    353                               44

In [2]:
import pandas as pd

# Q6b: Top 10 women’s ODI Batting players along with the records of their team and rating.

In [33]:
def top_10_odi_batters(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    player=[]
    team=[]
    rating=[]
    player.append(soup.find('div',class_='rankings-block__banner--name-large').text)
    team.append(soup.find('div',class_='rankings-block__banner--nationality').text.split('\n')[2])
    rating.append(soup.find('div',class_='rankings-block__banner--rating').text)
    
    for i in list(soup.find_all('td',class_='table-body__cell rankings-table__name name'))[:9]:
        player.append(i.text.split('\n')[1])
    for i in list(soup.find_all('td',class_='table-body__cell nationality-logo rankings-table__team'))[:9]:
        team.append(i.text.split('\n')[2])
    for i in list(soup.find_all('td',class_='table-body__cell rating'))[:9]:
        rating.append(i.text)
                 
    df=pd.DataFrame({'batter':player,
                    'team':team,
                    'ratings':rating})
    print(df)
top_10_odi_batters('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

                batter team ratings
0         Alyssa Healy  AUS     785
1          Beth Mooney  AUS     749
2      Laura Wolvaardt   SA     732
3       Natalie Sciver  ENG     725
4     Harmanpreet Kaur  IND     716
5      Smriti Mandhana  IND     714
6          Meg Lanning  AUS     710
7       Rachael Haynes  AUS     701
8    Amy Satterthwaite   NZ     661
9  Chamari Athapaththu   SL     655

# Q6c: Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [48]:
def top_10_odi_allrounders(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    player=[]
    team=[]
    rating=[]
    for i in list(soup.find_all('div',class_="rankings-block__banner--name")[2:3]):
        player.append(i.text)
    for i in list(soup.find_all('div',class_="rankings-block__banner--nationality")[2:3]):
        team.append(i.text.split('\n')[2])
    for i in list(soup.find_all('div',class_="rankings-block__banner--rating")[2:3]):
        rating.append(i.text)
    for i in list(soup.find_all('td',class_="table-body__cell name"))[18:27]:
        player.append(i.text.split('\n')[1])
    for i in list(soup.find_all('span',class_="table-body__logo-text"))[18:27]:
        team.append(i.text)
    for i in list(soup.find_all('td',class_="table-body__cell u-text-right rating"))[18:27]:
        rating.append(i.text)
        
        
    df=pd.DataFrame({'player':player,
                    'team':team,
                    'rating':rating})
    print(df)
top_10_odi_allrounders('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')

             player team rating
0   Hayley Matthews   WI    380
1      Ellyse Perry  AUS    374
2    Natalie Sciver  ENG    357
3       Amelia Kerr   NZ    356
4    Marizanne Kapp   SA    349
5     Deepti Sharma  IND    322
6  Ashleigh Gardner  AUS    270
7     Jess Jonassen  AUS    246
8    Jhulan Goswami  IND    214
9   Katherine Brunt  ENG    207

# Q7)  scraping headline, time and news link from cnbc news site

In [24]:
def cnbc_headline(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    headline=[]
    time=[]
    links=[]
    for i in list(soup.find_all('div',class_="RiverHeadline-headline RiverHeadline-hasThumbnail"))[:6]:
        headline.append(i.text.split(','))
    
    
    for i in list(soup.find_all('span',class_="RiverByline-datePublished"))[:10]:
        time.append(i.text.split(','))
 
    for div in soup.findAll('div',{'class':'RiverHeadline-headline RiverHeadline-hasThumbnail'})[:5]:
        a=div.findAll('a')
        for link in a:
            links.append(link.get('href'))
       
    print(len(headline),len(time),len(links))
    df=pd.DataFrame({'News headline':headline,
                     'Time of headline':time,
                     'urls':links})
    print(df)
    
cnbc_headline('https://www.cnbc.com/world/?region=world')

6 6 6
                                       News headline Time of headline  \
0  [GM temporarily suspends advertising on Twitte...    [3 hours ago]
1  [Intruder at Pelosi home shouted 'where is Nan...    [3 hours ago]
2  [The Fed could lay the groundwork for a year-e...    [5 hours ago]
3  [Philippines' death toll from Tropical Storm N...    [5 hours ago]
4  [Putin says there is 'no need' to use nuclear ...    [6 hours ago]
5  [Asia would be the biggest loser if the global...    [6 hours ago]

                                                urls
0  https://www.cnbc.com/2022/10/28/gm-temporarily...
1  https://www.cnbc.com/2022/10/28/house-speaker-...
2                                              /pro/
3  https://www.cnbc.com/2022/10/28/the-fed-could-...
4  https://www.cnbc.com/2022/10/29/philippines-de...
5  https://www.cnbc.com/2022/10/28/russia-ukraine...

# Q8: Python program to scrape the paper title,author,published date and url of most downloaded articles from AI in last 90 days.

In [3]:
def top_AI_papers(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    title=[]
    authors=[]
    dop=[]
    paper_link=[]
    
    for i in list(soup.find_all('h2',class_='sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR')):
        title.append(i.text)
    
    
    for i in list(soup.find_all('span',class_="sc-1w3fpd7-0 pgLAT")):
        authors.append(i.text)
    
    
    for i in list(soup.find_all('span',class_="sc-1thf9ly-2 bKddwo")):
        dop.append(i.text)
    
    
    for i in soup.find_all('a',class_='sc-5smygv-0 nrDZj'):
        paper_link.append(i.get('href'))

    
    
    df=pd.DataFrame({'Title names':title,
                     'author_names':authors,
                     'publication date':dop,
                     'paper url':paper_link})
    print(df)
    
        
top_AI_papers('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

                                          Title names  \
0                                    Reward is enough
1                           Making sense of raw input
2   Law and logic: A review from an argumentation ...
3              Creativity and artificial intelligence
4   Artificial cognition for social human–robot in...
5   Explanation in artificial intelligence: Insigh...
6                       Making sense of sensory input
7   Conflict-based search for optimal multi-agent ...
8   Between MDPs and semi-MDPs: A framework for te...
9   The Hanabi challenge: A new frontier for AI re...
10  Evaluating XAI: A comparison of rule-based and...
11           Argumentation in artificial intelligence
12  Algorithms for computing strategies in two-pla...
13      Multiple object tracking: A literature review
14  Selection of relevant features and examples in...
15  A survey of inverse reinforcement learning: Ch...
16  Explaining individual predictions when feature...
17  A review of possible effects of cognitive bias...
18  Integrating social power into the decision-mak...
19  “That's (not) the output I expected!” On the r...
20  Explaining black-box classifiers using post-ho...
21  Algorithm runtime prediction: Methods & evalua...
22              Wrappers for feature subset selection
23  Commonsense visual sensemaking for autonomous ...
24         Quantum computation, quantum theory and AI

                                         author_names publication date  \
0   Silver, David, Singh, Satinder, Precup, Doina,...     October 2021
1           Evans, Richard, Bošnjak, Matko and 5 more     October 2021
2                   Prakken, Henry, Sartor, Giovanni      October 2015
3                                 Boden, Margaret A.       August 1998
4     Lemaignan, Séverin, Warnier, Mathieu and 3 more        June 2017
5                                        Miller, Tim     February 2019
6   Evans, Richard, Hernández-Orallo, José and 3 more       April 2021
7   Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...    February 2015
8   Sutton, Richard S., Precup, Doina, Singh, Sati...      August 1999
9         Bard, Nolan, Foerster, Jakob N. and 13 more       March 2020
10  van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...    February 2021
11               Bench-Capon, T.J.M., Dunne, Paul E.      October 2007
12       Bošanský, Branislav, Lisý, Viliam and 3 more      August 2016
13             Luo, Wenhan, Xing, Junliang and 4 more       April 2021
14                      Blum, Avrim L., Langley, Pat     December 1997
15                   Arora, Saurabh, Doshi, Prashant       August 2021
16      Aas, Kjersti, Jullum, Martin, Løland, Anders    September 2021
17  Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...        June 2021
18    Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.     December 2016
19                      Riveiro, Maria, Thill, Serge    September 2021
20  Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...         May 2021
21  Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...     January 2014
22                      Kohavi, Ron, John, George H.     December 1997
23  Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...     October 2021
24                                   Ying, Mingsheng     February 2010

                                            paper url
0   https://www.sciencedirect.com/science/article/...
1   https://www.sciencedirect.com/science/article/...
2   https://www.sciencedirect.com/science/article/...
3   https://www.sciencedirect.com/science/article/...
4   https://www.sciencedirect.com/science/article/...
5   https://www.sciencedirect.com/science/article/...
6   https://www.sciencedirect.com/science/article/...
7   https://www.sciencedirect.com/science/article/...
8   https://www.sciencedirect.com/science/article/...
9   https://www.sciencedirect.com/science/article/...
10  https://www.sciencedirect.com/science/article/...
11  https://www.sciencedirect.com/science/article/...
12  https://www.sciencedirect.com/science/article/...
13  https://www.sciencedirect.com/science/article/...
14  https://www.sciencedirect.com/science/article/...
15  https://www.sciencedirect.com/science/article/...
16  https://www.sciencedirect.com/science/article/...
17  https://www.sciencedirect.com/science/article/...
18  https://www.sciencedirect.com/science/article/...
19  https://www.sciencedirect.com/science/article/...
20  https://www.sciencedirect.com/science/article/...
21  https://www.sciencedirect.com/science/article/...
22  https://www.sciencedirect.com/science/article/...
23  https://www.sciencedirect.com/science/article/...
24  https://www.sciencedirect.com/science/article/...

# Q9: python program to scrape restaurant name, cuisine,location,ratings,image url from dineout.co.in

In [215]:
def restaurants(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    name=[]
    cuisine=[]
    locations=[]
    ratings=[]
    image=[]
    for i in list(soup.find_all('a',class_='restnt-name ellipsis')):
        name.append(i.text)
    
    for i in soup.find_all('span',class_='double-line-ellipsis'):
        cuisine.append(i.text.split('|')[1])
  
    
    for i in soup.find_all('div',class_='restnt-loc ellipsis'):
        locations.append(i.text)

    
    for i in soup.find_all('div',class_='restnt-rating rating-4'):
        ratings.append(i.text)
 
    
    for i in soup.find_all('img',class_='no-img'):
        image.append(i.get('data-src').split('|'))
 
    
    df=pd.DataFrame({'Restaurant name':name,
                     'restaurant cuisine':cuisine,
                     'restaurant location':locations,
                     'restaurant ratings':ratings,
                    'restaurant image':image})
    print(df)
    
restaurants('https://www.dineout.co.in/delhi-restaurants/welcome-back')

                     Restaurant name  \
0                            Tamasha
1                              Local
2                        Station Bar
3                   Ministry Of Beer
4                  The Junkyard Cafe
5                      The G.T. ROAD
6                                QBA
7   Connaught Clubhouse Microbrewery
8                     Openhouse Cafe
9                Unplugged Courtyard
10                             Chido
11                           Berco's
12               My Bar Headquarters
13        The Luggage Room By Sandoz
14    Chili's American Grill and Bar
15   Ardor 2.1 Restaurant and Lounge
16                Cafe Delhi Heights
17          Out Of The Box Courtyard
18                            Sandoz
19                        Farzi Cafe
20                 Wok in the Clouds

                                   restaurant cuisine  \
0           Continental, Asian, Italian, North Indian
1                    North Indian, Asian, Continental
2           Italian, Chinese, North Indian, Fast Food
3          North Indian, Continental, American, Asian
4       North Indian, Continental, Chinese, Fast Food
5                                        North Indian
6                  North Indian, Continental, Italian
7           North Indian, Continental, Asian, Chinese
8                        North Indian, Asian, Italian
9    North Indian, Italian, Chinese, Turkish, Cont...
10   North Indian, Italian, Continental, Asian, Fi...
11                                      Chinese, Thai
12                              North Indian, Chinese
13        Chinese, Italian, North Indian, Continental
14                         Mexican, American, Tex Mex
15        North Indian, Chinese, Italian, Continental
16   Continental, North Indian, Beverages, Chinese...
17      North Indian, Mediterranean, Chinese, Italian
18                 North Indian, Chinese, Continental
19            Modern Indian, Continental, Finger Food
20    Chinese, Thai, Continental, North Indian, Asian

                             restaurant location restaurant ratings  \
0                 Connaught Place, Central Delhi                4.2
1   Scindia House,Connaught Place, Central Delhi                  4
2         F-Block,Connaught Place, Central Delhi                  4
3         M-Block,Connaught Place, Central Delhi                  4
4                 Connaught Place, Central Delhi                4.1
5         M-Block,Connaught Place, Central Delhi                4.3
6                 Connaught Place, Central Delhi                4.3
7                 Connaught Place, Central Delhi                4.3
8                 Connaught Place, Central Delhi                4.1
9                 Connaught Place, Central Delhi                  4
10                Connaught Place, Central Delhi                4.2
11                Connaught Place, Central Delhi                4.3
12                Connaught Place, Central Delhi                  4
13        M-Block,Connaught Place, Central Delhi                3.9
14        M-Block,Connaught Place, Central Delhi                4.3
15                Connaught Place, Central Delhi                3.8
16                        Janpath, Central Delhi                4.3
17                Connaught Place, Central Delhi                4.1
18                Connaught Place, Central Delhi                  4
19                Connaught Place, Central Delhi                4.1
20                Connaught Place, Central Delhi                4.3

                                     restaurant image
0   [https://im1.dineout.co.in/images/uploads/rest...
1   [https://im1.dineout.co.in/images/uploads/rest...
2   [https://im1.dineout.co.in/images/uploads/rest...
3   [https://im1.dineout.co.in/images/uploads/rest...
4   [https://im1.dineout.co.in/images/uploads/rest...
5   [https://im1.dineout.co.in/images/uploads/rest...
6   [https://im1.dineout.co.in/images/uploads/rest...
7   [https://im1.dineout.co.in/images/uploads/rest...
8   [https://im1.dineout.co.in/images/uploads/rest...
9   [https://im1.dineout.co.in/images/uploads/rest...
10  [https://im1.dineout.co.in/images/uploads/rest...
11  [https://im1.dineout.co.in/images/uploads/rest...
12  [https://im1.dineout.co.in/images/uploads/rest...
13  [https://im1.dineout.co.in/images/uploads/rest...
14  [https://im1.dineout.co.in/images/uploads/rest...
15  [https://im1.dineout.co.in/images/uploads/rest...
16  [https://im1.dineout.co.in/images/uploads/rest...
17  [https://im1.dineout.co.in/images/uploads/rest...
18  [https://im1.dineout.co.in/images/uploads/rest...
19  [https://im1.dineout.co.in/images/uploads/rest...
20  [https://im1.dineout.co.in/images/uploads/rest...

# Q10: python program to scrape the rank, publication, h5 index and h5 medianof top publications from Google Scholar from

In [227]:
def g_forms(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    rank=[]
    publication=[]
    h5_index=[]
    h5_median=[]
    
    for i in list(soup.find_all('td',class_='gsc_mvt_p')):
        rank.append(i.text)
    
    for i in soup.find_all('td',class_='gsc_mvt_t'):
        publication.append(i.text)
  
    count=0
    for i in list(soup.find_all('td',class_='gsc_mvt_n')):
        if count%2==0:
            h5_index.append(i.text)
        else:
            h5_median.append(i.text) 
        count+=1
    
    df=pd.DataFrame({'Rank':rank,
                     'Publication name':publication,
                     'h5 index':h5_index,
                     'h5 median':h5_median})
    print(df)
    
g_forms('https://scholar.google.com/citations?view_op=top_venues&hl=en')

    Rank                                   Publication name h5 index h5 median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]