In [2]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

# Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [126]:
#connecting to driver
driver=webdriver.Chrome(r'D:\softwares\chromedriver_win32\chromedriver.exe')

In [127]:
#maximizing browser window
driver.maximize_window()

In [128]:
#opening naukri.com website
url='https://www.naukri.com'
driver.get(url)

In [129]:
#in search bar searching for Data Analyst
search_job=driver.find_element(By.CLASS_NAME,'suggestor-input')
search_job.send_keys('Data Analyst')

In [130]:
#search job location as Bangalore
search_job=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_job.send_keys('Bangalore')

In [131]:
#clicking search button
srch_btn=driver.find_element(By.CLASS_NAME,'qsbSubmit')
srch_btn.click()

In [153]:
#scraping data in form of job title,job location,company name and experince required

#creating empty list
job_title=[]
job_location=[]
company_name=[]
experience_required=[] 

#scraping data in form of job title
job_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in job_tag:
    job_title.append(i.text)
job_title

#scraping data for job location    
loc_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in loc_tag:
    job_location.append(i.text)
job_location

#scraping data for company name    
comp_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in comp_tag:
    company_name.append(i.text)
company_name

#scraping data for experince required    
exp_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in exp_tag:
    experience_required.append(i.text) 
experience_required
    
#creating dataframe    
df=pd.DataFrame({'Job Title':job_title[:10],
                     'Job location':job_location[:10],
                     'Company name':company_name[:10],
                     'Experience required':experience_required[:10]})
#printing dataframe
df

,Job Title,Job location,Company name,Experience required
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
1,Data Scientist - Looking For Immediate Joiners,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",Wipro,5-10 Yrs
2,Assistant Manager - Data Science,"Hybrid - Bangalore/Bengaluru, Mumbai, Pune",Citiustech,5-9 Yrs
3,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Altair,2-7 Yrs
4,Python Programming Language Data Science Pract...,Bangalore/Bengaluru,Accenture,4-6 Yrs
5,Industry X - Software Engineering,Bangalore/Bengaluru,Accenture,3-5 Yrs
6,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM,4-8 Yrs
7,ACN - Applied Intelligence - C4DI - Sustainabi...,Bangalore/Bengaluru,Accenture,4-6 Yrs
8,Data Scientist,Bangalore/Bengaluru,Applied Materials,4-7 Yrs
9,Data Scientist,Bangalore/Bengaluru,Applied Materials,4-7 Yrs

In [ ]:
driver.close() #closing driver

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [148]:
#connecting to driver
driver=webdriver.Chrome(r'D:\softwares\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

In [149]:
#opening naukri.com website
url='https://www.naukri.com/'
driver.get(url)

In [150]:
#searching for Data Scientish in job search bar
search_job=driver.find_element(By.CLASS_NAME,'suggestor-input')
search_job.send_keys('Data Scientist')

In [151]:
#searching for Bangalore in job search bar
search_job=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_job.send_keys('Bangalore')

In [152]:
#clickinh search button
srch_btn=driver.find_element(By.CLASS_NAME,'qsbSubmit')
srch_btn.click()

In [154]:
#creating empty lists
job_title=[]
job_location=[]
company_name=[]
experience_required=[] 
    
#scraping job title
job_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in job_tag:
    job_title.append(i.text)
job_title

#scraping job location    
loc_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in loc_tag:
    job_location.append(i.text)
job_location

#scraping company name   
comp_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in comp_tag:
    company_name.append(i.text)
company_name

#scraping experience required
exp_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in exp_tag:
    experience_required.append(i.text) 
experience_required
    
#creating dataframe with data
df=pd.DataFrame({'Job Title':job_title[:10],
                     'Job location':job_location[:10],
                     'Company name':company_name[:10],
                     'Experience required':experience_required[:10]})
#printing dataframe
df

,Job Title,Job location,Company name,Experience required
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
1,Data Scientist - Looking For Immediate Joiners,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",Wipro,5-10 Yrs
2,Assistant Manager - Data Science,"Hybrid - Bangalore/Bengaluru, Mumbai, Pune",Citiustech,5-9 Yrs
3,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Altair,2-7 Yrs
4,Python Programming Language Data Science Pract...,Bangalore/Bengaluru,Accenture,4-6 Yrs
5,Industry X - Software Engineering,Bangalore/Bengaluru,Accenture,3-5 Yrs
6,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM,4-8 Yrs
7,ACN - Applied Intelligence - C4DI - Sustainabi...,Bangalore/Bengaluru,Accenture,4-6 Yrs
8,Data Scientist,Bangalore/Bengaluru,Applied Materials,4-7 Yrs
9,Data Scientist,Bangalore/Bengaluru,Applied Materials,4-7 Yrs

In [ ]:
driver.close() #closing driver

# Q3) In this you need to scrape data as per following guidelines:                  (1) The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs (2) You have to scrape data for “Data Scientist” designation for first 10 job results. (3) You have to scrape the job-title, job-location, company name, experience required.

In [179]:
#connecting to driver
driver=webdriver.Chrome(r'D:\softwares\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

In [180]:
#opening website
url='https://www.naukri.com/'
driver.get(url)

In [181]:
#searching for Data Scientist in job search bar
search_job=driver.find_element(By.CLASS_NAME,'suggestor-input')
search_job.send_keys('Data Scientist')

In [182]:
#clicking search button
srch_btn=driver.find_element(By.CLASS_NAME,'qsbSubmit')
srch_btn.click()

In [183]:
#setting location  filter
loc_filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
loc_filter.click()

In [184]:
#setting salary filter
sal_filter=loc_filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
sal_filter.click()

In [185]:
#creating empty lists
job_title=[]
job_location=[]
company_name=[]
experience_required=[] 

#scraping job title
job_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in job_tag:
    job_title.append(i.text)
job_title

#scraping job location    
loc_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in loc_tag:
    job_location.append(i.text)
job_location

#scraping cpmpany name   
comp_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in comp_tag:
    company_name.append(i.text)
company_name

#scraping experience required    
exp_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in exp_tag:
    experience_required.append(i.text) 
experience_required
    
#creating dataframe with above data    
df=pd.DataFrame({'Job Title':job_title[:10],
                     'Job location':job_location[:10],
                     'Company name':company_name[:10],
                     'Experience required':experience_required[:10]})
#printing dataframe
df

,Job Title,Job location,Company name,Experience required
0,Data Scientist,"Noida, Hyderabad/Secunderabad, Chennai, Bangal...",HCLTech,4-9 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Urgent hiring For Data Scientist (PHD Must Have),"Temp. WFH - Noida, Pune",NGI Ventures,0-4 Yrs
3,Manager - Data Science - Banking&Financial Ser...,"Delhi / NCR, Bangalore/Bengaluru",Black Turtle,4-8 Yrs
4,Data Scientist / Sr. Data Scientist,Temp. WFH - Noida,Wegarner Solutions,3-8 Yrs
5,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
6,Data Scientist,Noida,Meon Technologies,2-5 Yrs
7,Data Scientist,Noida,Alliance Recruitment Agency,3-4 Yrs
8,Data scientist- Python,Gurgaon/Gurugram,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs
9,Data Scientist,New Delhi,Razor Group GmbH,2-3 Yrs

In [ ]:
driver.close() #closing driver

# Q4:Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:1. Brand  2. Product Description   3. Price

In [11]:
#connecting to driver
driver=webdriver.Chrome(r'D:\softwares\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

In [12]:
#opening url
url='https://www.flipkart.com/'
driver.get(url)

In [13]:
#closimg the login page menu that pops up after opening url
login_page=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
login_page.click()

In [14]:
#search for sunglasses in seach button
search=driver.find_element(By.CLASS_NAME,'_3704LK')
search.send_keys('sunglasses')

#clicking seach button
search_icon=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_icon.click()

In [18]:
#creating empty lists
sunglasses_brand=[]
description=[]
price=[]

#scraping data for sunglasses brand,their description and price for page 1
for page in range(0,1):
    brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tag:
        sunglasses_brand.append(i.text)

for page in range(0,1):
    disc_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in disc_tag:
        description.append(i.text)
        
for page in range(0,1):
    price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tag:
        price.append(i.text)        
        
#clicking next for page turn        
next_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_btn.click()
time.sleep(3) #this will give time to browser to sleep until data is scraped

In [19]:
#scraping data for sunglasses brand,their description and price for page 2
for page in range(1,2):
    brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tag:
        sunglasses_brand.append(i.text)

for page in range(1,2):
    disc_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in disc_tag:
        description.append(i.text)
        
for page in range(1,2):
    price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tag:
        price.append(i.text)
        
#clicking next for page turn         
next_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_btn.click()
time.sleep(3)#this will give time to browser to sleep until data is scraped

In [25]:
#scraping data for sunglasses brand,their description and price for page 2
for page in range(2,3):
    brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tag:
        sunglasses_brand.append(i.text)

for page in range(2,3):
    disc_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in disc_tag:
        description.append(i.text)
        
for page in range(2,3):
    price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tag:
        price.append(i.text)

In [26]:
#creating dataframe
df=pd.DataFrame({'Brand name':sunglasses_brand[:100],'Product Description':description[:100],'Price':price[:100]})
#printing dataframe
df

       Brand name                                Product Description Price
0        Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹649
1          PIRASO          UV Protection Rectangular Sunglasses (52)  ₹199
2          SUNBEE  UV Protection, Polarized Wayfarer Sunglasses (...  ₹283
3       New Specs   UV Protection Rectangular Sunglasses (Free Size)  ₹254
4        Fastrack   UV Protection Rectangular Sunglasses (Free Size)  ₹519
..            ...                                                ...   ...
95    SKYZA INDIA  Polarized, UV Protection Sports Sunglasses (Fr...  ₹432
96     PHENOMENAL  UV Protection, Mirrored Retro Square Sunglasse...  ₹369
97      Rich Club                    Polarized Round Sunglasses (48)  ₹213
98  VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...  ₹949
99         PIRASO           UV Protection Over-sized Sunglasses (60)  ₹314

[100 rows x 3 columns]

In [28]:
driver.close() #closing driver

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 you have to scrap 3 attributes:- 1. Rating 2. Review summary 3. Full review

In [118]:
#connecting to driver
driver=webdriver.Chrome(r'D:\softwares\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

#opening url
url='https://www.flipkart.com/apple-iphone-11-black-128-gb/p/itm8244e8d955aba?pid=MOBFWQ6BKRYBP5X8&lid=LSTMOBFWQ6BKRYBP5X8IBG6BS&marketplace=FLIPKART&q=iphone&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=5506531f-6a83-4779-9431-7a9813595e11.MOBFWQ6BKRYBP5X8.SEARCH&ppt=hp&ppn=homepage&ssid=0s59rm7sw00000001667495867942&qH=0b3f45b266a97d70'
driver.get(url)

In [119]:
#opening show all reviews tab 
review=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/a/div/span')
review.click()

In [120]:
#creating empty lists
rating=[]
rev_sum=[]
full_review=[]

In [121]:
#specifying start and end as range for pages
start=0
end=1

#scrapping required of opened page and adding it in empty lists.
for i in range(0,1):
    rat_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for p in rat_tag:
        rating.append(p.text)
    
for i in range(0,1):
    rev_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for p in rev_tag:
        rev_sum.append(p.text)
    
for i in range(0,1):
    rs_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for p in rs_tag:
        full_review.append(p.text)

In [122]:
#clicking next button to load next page
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[2]')
next_button.click()
time.sleep(3)

In [123]:
#scrapping required of opened page and adding it in lists. 
for i in range(1,2):
    rat_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for p in rat_tag:
        rating.append(p.text)
    
for i in range(1,2):
    rev_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for p in rev_tag:
        rev_sum.append(p.text)
    
for i in range(1,2):
    rs_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for p in rs_tag:
        full_review.append(p.text)

In [124]:
#clicking next button to load next page
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[4]')
next_button.click()
time.sleep(3)

In [125]:
#scrapping required of opened page and adding it in lists. 
for i in range(2,3):
    rat_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for p in rat_tag:
        rating.append(p.text)
    
for i in range(2,3):
    rev_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for p in rev_tag:
        rev_sum.append(p.text)
    
for i in range(2,3):
    rs_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for p in rs_tag:
        full_review.append(p.text)

In [126]:
#clicking next button to load next page
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[5]')
next_button.click()
time.sleep(3)

In [127]:
#scrapping required of opened page and adding it in lists. 
for i in range(3,4):
    rat_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for p in rat_tag:
        rating.append(p.text)
    
for i in range(3,4):
    rev_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for p in rev_tag:
        rev_sum.append(p.text)
    
for i in range(3,4):
    rs_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for p in rs_tag:
        full_review.append(p.text)

In [128]:
#clicking next button to load next page
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[6]')
next_button.click()
time.sleep(3)

In [129]:
#scrapping required of opened page and adding it in lists
for i in range(4,5):
    rat_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for p in rat_tag:
        rating.append(p.text)
    
for i in range(4,5):
    rev_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for p in rev_tag:
        rev_sum.append(p.text)
    
for i in range(4,5):
    rs_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for p in rs_tag:
        full_review.append(p.text)

In [130]:
#clicking next button to load next page
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
next_button.click()
time.sleep(3)

In [131]:
#scrapping required of opened page and adding it in lists
for i in range(5,6):
    rat_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for p in rat_tag:
        rating.append(p.text)
    
for i in range(5,6):
    rev_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for p in rev_tag:
        rev_sum.append(p.text)
    
for i in range(5,6):
    rs_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for p in rs_tag:
        full_review.append(p.text)

In [132]:
#clicking next button to load next page
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
next_button.click()
time.sleep(3)

In [133]:
#scrapping required of opened page and adding it in lists
for i in range(6,7):
    rat_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for p in rat_tag:
        rating.append(p.text)
    
for i in range(6,7):
    rev_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for p in rev_tag:
        rev_sum.append(p.text)
    
for i in range(6,7):
    rs_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for p in rs_tag:
        full_review.append(p.text)

In [142]:
#clicking next button to load next page
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
next_button.click()
time.sleep(3)

In [143]:
#scrapping required of opened page and adding it in lists
for i in range(7,8):
    rat_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for p in rat_tag:
        rating.append(p.text)
    
for i in range(7,8):
    rev_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for p in rev_tag:
        rev_sum.append(p.text)
    
for i in range(7,8):
    rs_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for p in rs_tag:
        full_review.append(p.text)

In [144]:
#clicking next button to load next page
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
next_button.click()
time.sleep(3)

In [145]:
#scrapping required of opened page and adding it in lists
for i in range(8,9):
    rat_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for p in rat_tag:
        rating.append(p.text)
    
for i in range(8,9):
    rev_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for p in rev_tag:
        rev_sum.append(p.text)
    
for i in range(8,9):
    rs_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for p in rs_tag:
        full_review.append(p.text)

In [150]:
#clicking next button to load next page
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
next_button.click()
time.sleep(3)

In [151]:
#scrapping required of opened page and adding it in lists
for i in range(9,10):
    rat_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for p in rat_tag:
        rating.append(p.text)
    
for i in range(9,10):
    rev_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for p in rev_tag:
        rev_sum.append(p.text)
    
for i in range(9,10):
    rs_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for p in rs_tag:
        full_review.append(p.text)

In [154]:
#clicking next button to load next page
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
next_button.click()
time.sleep(3)

In [155]:
#scrapping required of opened page and adding it in lists
for i in range(10,11):
    rat_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for p in rat_tag:
        rating.append(p.text)
    
for i in range(10,11):
    rev_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for p in rev_tag:
        rev_sum.append(p.text)
    
for i in range(10,11):
    rs_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for p in rs_tag:
        full_review.append(p.text)

In [161]:
#creating dataframe
phone_data=pd.DataFrame({'rating':rating[:100],'review summary':rev_sum[:100],'full review':full_review[:100]})

#printing dataframe
phone_data

,rating,review summary,full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Highly recommended,What a camera .....just awesome ..you can feel...
...,...,...,...
95,5,Absolute rubbish!,Worst product delivered by Flipkart\nAfter 10d...
96,5,Awesome,I dreamt about this day from a long time.... G...
97,5,Just wow!,Great iphone.\nI am writing this review after ...
98,5,Super!,Did an upgrade from 6s plus to iphone 11.\nAo ...
99,4,Mind-blowing purchase,awesome Phone Smooth Touch Too good Sexyy look...

In [162]:
driver.close() #closing driver

# Q6) Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker:1.) Brand 2.) Product Description 3.) Price

In [3]:
#connecting to driver
driver=webdriver.Chrome(r'D:\softwares\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

#opening url
url='https://www.flipkart.com/'
driver.get(url)

In [4]:
#closing the login page menu that pops up after opening url
login_page=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
login_page.click()

In [5]:
#search for sneakers in search bar
search=driver.find_element(By.CLASS_NAME,'_3704LK')
search.send_keys('sneakers')

#clicking search button 
search_icon=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_icon.click()

In [6]:

brand=[]
for i in range(3):
    print('scrapping page',i+1)
    brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for p in brand_tag:
        brand.append(p.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

scrapping page 1
scrapping page 2
scrapping page 3

In [23]:
print(description1[0:40])

['Premium Sneakers For Men Sneakers For Men', 'Men’s Premium Style High Top Platform Fashion Sneakers|...', "Perfect Stylish Casual Shoes For Girls & Women's Casual...", 'Lightweight Pack Of 1 Trendy Sneakers Sneakers Sneakers...', 'Acrux Sneakers For Men', 'Sneakers For Men', 'Sneakers Dancing Shoes/Street Dancing Shoe For Men/R.T....', 'SS1100 Sneakers For Men', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'Sneakers For Men', 'High Tops Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Lattest Sneakers Shoe Sneakers For Men', 'Premium Casual Shoes for Men Sneakers For Men', 'Outdoor Trendy Lightweight Casual,Canvas Stylish Partyw...', 'Men’s Premium Style High Top Platform Fashion Sneakers|...', 'Sneakers For Men', 'fuzor B Sneakers For Men', 'Fashionable Canvas Casual Partywear Outdoor Sneakers wh...', 'Exclusive Rap & Dance Shoes For Boys Sneakers For Men S...', 'Electron E Pro Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneaker Sneakers For Men', 'Sneakers For Men', "Exclusive dancing shoe for boy's, Funky dancing sneaker...", 'Trendy-21 White Color Change Sneakers,Casuals,Loafers S...', 'Tigonis Casuals For Men Sneakers For Men (White) Sneake...', 'Stylish Sneakers Shoes for Men Sneakers For Men', 'Sneakers For Women', '5011-Latest Collection Stylish & Trendy Casual Sneakers...', 'Combo Pack of 5 Casual Sneakers With Sneakers For Men', 'Casual Sneakers White Outdoor Shoes For Boys And Men Sn...', 'White Sneaker For Men Sneakers For Men', 'Jasper-02 Navy Casuals,Walking,Training,Running,Stylish...', 'Court Star Vulc FS Sneakers For Men', 'Premium White Casual Shoes Sneakers For Men Sneakers Fo...', 'Sneakers For Men', 'Premium Casual Shoes White Sneakers For Men']

In [21]:
description1=[]
for i in range(3):
    print('scrapping page',i+1)
    desc_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for p in desc_tag:
        description1.append(p.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

scrapping page 1
scrapping page 2
scrapping page 3

In [24]:
price=[]
for i in range(3):
    print('scrapping page',i+1)
    price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for p in price_tag:
        price.append(p.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

scrapping page 1
scrapping page 2
scrapping page 3

In [25]:
data=pd.DataFrame({'sneaker_brand':brand[:100],'product description':description1[:100],'price':price[:100]})
data

   sneaker_brand                                product description   price
0          BIRDE          Premium Sneakers For Men Sneakers For Men    ₹449
1          BIRDE  Men’s Premium Style High Top Platform Fashion ...    ₹449
2       RED TAPE  Perfect Stylish Casual Shoes For Girls & Women...  ₹1,249
3         Labbin  Lightweight Pack Of 1 Trendy Sneakers Sneakers...    ₹395
4       RED TAPE                             Acrux Sneakers For Men  ₹1,349
..           ...                                                ...     ...
95  Robbie jones  Exclusive Rap & Dance Shoes For Boys Sneakers ...    ₹349
96    Real Bliss                    Electron E Pro Sneakers For Men  ₹1,814
97        Kraasa                                   Sneakers For Men  ₹3,159
98        BRUTON                                   Sneakers For Men    ₹324
99     Deals4you                           Sneaker Sneakers For Men    ₹389

[100 rows x 3 columns]

In [26]:
#closing the driver
driver.close()

# Q7): Go to the link - https://www.myntra.com/shoes; Set second Price filter and Color filter to “Black”and then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe.

In [183]:
#importing libraries
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [204]:
#connecting to driver
driver=webdriver.Chrome(r'D:\softwares\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

#opening url
url='https://www.myntra.com/shoes'
driver.get(url)

In [205]:
#setting filter for black shoes only
black_filter=driver.find_element(By.XPATH,'/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
black_filter.click()

In [206]:
#selecting price bracket in price filter and selecting second option
price_filter=driver.find_element(By.XPATH,'/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_filter.click()

In [208]:
#creating empty lists
shoe_brand=[]
shoe_description=[]
shoes_price=[]

#scrapping data for brand,description and price for 1st page and appending in into lists.
for i in range(0,1):
    brand_tag=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for p in brand_tag:
        shoe_brand.append(p.text)
        
    desc_tag=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for j in desc_tag:
        shoe_description.append(j.text)
        
    price_tag=driver.find_elements(By.XPATH,'//span[@class="product-discountedPrice"]')
    for k in brand_tag:
        shoes_price.append(k.text)
    #clicking next button for next page turn
    next_button=driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    next_button.click()
    time.sleep(3)
    
#scrapping data for brand,description and price for 2nd page and appending in into lists.
for i in range(0,1):
    brand_tag=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for p in brand_tag:
        shoe_brand.append(p.text)
        
    desc_tag=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for j in desc_tag:
        shoe_description.append(j.text)
        
    price_tag=driver.find_elements(By.XPATH,'//span[@class="product-discountedPrice"]')
    for k in brand_tag:
        shoes_price.append(k.text)

In [212]:
#creating dataframe
myntra_shoes=pd.DataFrame({'brand':shoe_brand,'description':shoe_description,'price':shoes_price})

#printing dataframe
myntra_shoes

               brand                        description             price
0             ADIDAS     Men Ultraboost 5.0 DNA Running            ADIDAS
1               Nike            JORDAN MAX AURA 4 Shoes              Nike
2               Nike          Men AIR MAX DAWN Sneakers              Nike
3   ADIDAS Originals          Men Woven Nmd_R1 Sneakers  ADIDAS Originals
4             ADIDAS        Men Runner Fl Running Shoes            ADIDAS
..               ...                                ...               ...
95              Puma         Women Run XX Nitro Running              Puma
96              ALDO            Women Textured Sneakers              ALDO
97      Sole To Soul  Suede High-Top Block Heeled Boots      Sole To Soul
98              ALDO          Women Party Block Sandals              ALDO
99           Saint G          Women Solid Mid-Top Boots           Saint G

[100 rows x 3 columns]

In [213]:
#closing driver
driver.close()

# Q8: Go to webpage https://www.amazon.in/. Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” as shown in the below image:1)title,2)ratings,3)price

In [163]:
#connecting to driver
driver=webdriver.Chrome(r'D:\softwares\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

#opening link to scrap data
url='https://www.amazon.in/'
driver.get(url)

In [164]:
#searching for laptop in search bar
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search.send_keys('laptop')

#clicking search button to search data
search_icon=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_icon.click()

In [165]:
#setting filter for 'processor' as 'Intel Core I7'
cpu_filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[5]/li[14]/span/a/span')
cpu_filter.click()

In [166]:
#creating empty lists
laptop_brand=[]
ratings_star1=[]
laptop_price1=[]

#scraping laptop brands and description
lap_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in lap_tag:
    laptop_brand.append(i.text)

#scraping laptop price    
price_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for k in price_tag:
    laptop_price1.append(k.text)

In [167]:
#creating dataframe
laptop_data=pd.DataFrame({'Brand name with description':laptop_brand[:10],
                          'price':laptop_price1[:10]})
#printing dataframe
laptop_data

                         Brand name with description     price
0  Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...    97,990
1  Samsung Galaxy Book2 Pro Intel 12th Gen i7 Evo...  1,03,490
2  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...    83,990
3  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    93,999
4  HP Pavilion x360 11th Gen Intel Core i7 14 inc...    80,490
5  (Renewed) HP ProBook 430 G3 6th Gen Intel Core...    25,895
6  Samsung Galaxy Book2 Intel 12th Gen core i7 39...    86,956
7  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...    81,490
8  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...  1,01,990
9  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    77,500

In [ ]:
#following are some of methods i used to scrap laptop rating but could not able to scrap
#1)
rating=[]
#scraping rating using relative xpath
rat_tag=driver.find_elements('//span[@class="a-size-medium a-color-base a-text-beside-button a-text-bold"]')
for i in rat_tag:
    rating.append(i.text)
#this code gives error:Message: invalid argument: invalid locator

In [ ]:
#2)
rating=[]
#scraping rating using relative xpath
rat_tag=driver.find_elements('//*[@id="a-popover-content-3"]/div/div/div/div[1]/span')
for i in rat_tag:
    rating.append(i.text)
#this code gives error as:Message: invalid argument: invalid locator

In [ ]:
#3)
rating=[]
#scraping rating using absolute xpath
rat_tag=driver.find_elements('/html/body/div[4]/div/div[1]/div/div/div/div/div[1]/span')
for i in rat_tag:
    rating.append(i.text)
#this code gives error as:Message: invalid argument: invalid locator

In [ ]:
#4)
rating=[]
#scraping rating using relative xpath
rat_tag=driver.find_elements('//i[@class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"]')
for i in rat_tag:
    rating.append(i.text)
#this code gives error as:Message: invalid argument: invalid locator

In [ ]:
#4)
rating=[]
#scraping rating using relative xpath
rat_tag=driver.find_elements('//span[@class="a-icon-alt"]')
for i in rat_tag:
    rating.append(i.text)
#this code gives error as:Message: invalid argument: invalid locator

In [76]:
driver.close() #closing driver

# Q9: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:

1.First get the webpage https://www.azquotes.com/

2. Click on Top Quotes

3. Than scrap a) Quote b) Author c) Type Of Quote

In [130]:
#connecting to driver
driver=webdriver.Chrome(r'D:\softwares\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

#opening url link
url='https://www.azquotes.com/'
driver.get(url)

In [131]:
#clicking on top quotes bar
top_quote_filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quote_filter.click()

In [132]:
#creating empty list 
quotes=[]
#scraping quotes for first 9 pages
for i in range(9):
    print('scrapping page',i+1)
    quote_tag=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for p in quote_tag:
        quotes.append(p.text)
    
    next_button=driver.find_element(By.XPATH,'//li[@class="next"]')# clicking next button for next page to load
    next_button.click()
    time.sleep(3)

#scraping 10th page    
for i in range(9,10):
    quote_tag=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for p in quote_tag:
        quotes.append(p.text)

scrapping page 1
scrapping page 2
scrapping page 3
scrapping page 4
scrapping page 5
scrapping page 6
scrapping page 7
scrapping page 8
scrapping page 9

In [133]:
#clicking page no1 so the scraping starts from page 1 for next type of data
reset_page_to_one=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[3]/a')
reset_page_to_one.click()

In [134]:
#creating empty list
authors=[]
#scraping data for authors for 1st 9 pages
for i in range(9):
    print('scrapping page',i+1)
    author_tag=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for p in author_tag:
        authors.append(p.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="next"]')# clicking next button for next page to load
    next_button.click()
    time.sleep(3)

#scraping 10th page 
for i in range(9,10):
    author_tag=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for p in author_tag:
        authors.append(p.text)

scrapping page 1
scrapping page 2
scrapping page 3
scrapping page 4
scrapping page 5
scrapping page 6
scrapping page 7
scrapping page 8
scrapping page 9

In [135]:
#clicking page no1 so the scraping starts from page 1 for next type of data
reset_page_to_one=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[3]/a')
reset_page_to_one.click()

In [136]:
#creating empty list
quote_types=[]
#scraping data for authors for 1st 9 pages
for i in range(9):
    print('scrapping page',i+1)
    type_quote_tag=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for p in type_quote_tag:
        quote_types.append(p.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')#clicking next button for next page to load
    next_button.click()
    time.sleep(3)

#scraping 10th page     
for i in range(9,10):
    type_quote_tag=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for p in type_quote_tag:
        quote_types.append(p.text)

scrapping page 1
scrapping page 2
scrapping page 3
scrapping page 4
scrapping page 5
scrapping page 6
scrapping page 7
scrapping page 8
scrapping page 9

In [137]:
#creating dataframe
azquotes_data=pd.DataFrame({'quotes':quotes,'author names':authors,'type of quote':quote_types})

#printing dataframe
azquotes_data

,quotes,author names,type of quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,"No matter how plain a woman may be, if truth a...",Eleanor Roosevelt,"Beauty, Beautiful, Truth"

In [138]:
#closing driver
driver.close()

# Q10: Write s python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.

In [367]:
#connecting to driver
driver=webdriver.Chrome(r'D:\softwares\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

#opening url
url='https://www.jagranjosh.com/.'
driver.get(url)

In [368]:
#clicking general knowledge section
gk_selection=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
gk_selection.click()

#clicking on list of prime ministers of India
list_of_PMs=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
list_of_PMs.click()

In [369]:
#creating empty lists
Name=[]
Born_dead=[]
Term_of_office=[]
Remarks=[]

In [370]:
#selecting data for 1st prime minister and adding that data into lists
prime_1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[2]')
for i in prime_1:
    Name.append(i.text.split('\n')[1])
    Born_dead.append(i.text.split('\n')[2])
    Term_of_office.append(i.text.split('\n')[3])
    Remarks.append(i.text.split('\n')[4])

In [371]:
#selecting data for 2nd prime minister and adding that data into lists
prime_3=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[3]')
for i in prime_3:
    Name.append(i.text.split('\n')[1])
    Born_dead.append(i.text.split('\n')[2])
    Term_of_office.append(i.text.split('\n')[3])
    Remarks.append(i.text.split('\n')[4])

In [372]:
#selecting data for 3rd prime minister and adding that data into lists
prime_4=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[4]')
for i in prime_4:
    Name.append(i.text.split('\n')[1])
    Born_dead.append(i.text.split('\n')[2])
    Term_of_office.append(i.text.split('\n')[3])
    Remarks.append(i.text.split('\n')[4])

In [373]:
#selecting data for 4th prime minister and adding that data into lists
prime_5=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[5]')
for i in prime_5:
    Name.append(i.text.split('\n')[1])
    Born_dead.append(i.text.split('\n')[2])
    Term_of_office.append(i.text.split('\n')[3])
    Remarks.append(i.text.split('\n')[4])

In [374]:
#selecting data for 5th prime minister and adding that data into lists
prime_6=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[6]')
for i in prime_6:
    Name.append(i.text.split('\n')[1])
    Born_dead.append(i.text.split('\n')[2])
    Term_of_office.append(i.text.split('\n')[3])
    Remarks.append(i.text.split('\n')[4])

In [375]:
#selecting data for 6th prime minister and adding that data into lists
prime_7=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[7]')
for i in prime_7:
    Name.append(i.text.split('\n')[1])
    Born_dead.append(i.text.split('\n')[2])
    Term_of_office.append(i.text.split('\n')[3])
    Remarks.append(i.text.split('\n')[4])

In [376]:
#selecting data for 7th prime minister and adding that data into lists
prime_8=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[8]')
for i in prime_8:
    Name.append(i.text.split('\n')[1])
    Born_dead.append(i.text.split('\n')[2])
    Term_of_office.append(i.text.split('\n')[3])
    Remarks.append(i.text.split('\n')[4])

In [377]:
#selecting data for 8th prime minister and adding that data into lists
prime_9=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[9]')
for i in prime_9:
    Name.append(i.text.split('\n')[1])
    Born_dead.append(i.text.split('\n')[2])
    Term_of_office.append(i.text.split('\n')[3])
    Remarks.append(i.text.split('\n')[4])

In [378]:
#selecting data for 9th prime minister and adding that data into lists
prime_10=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[10]')
for i in prime_10:
    Name.append(i.text.split('\n')[1])
    Born_dead.append(i.text.split('\n')[2])
    Term_of_office.append(i.text.split('\n')[3])
    Remarks.append(i.text.split('\n')[4])

In [379]:
#selecting data for 10th prime minister and adding that data into lists
prime_11=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[11]')
for i in prime_11:
    Name.append(i.text.split('\n')[1])
    Born_dead.append(i.text.split('\n')[2])
    Term_of_office.append(i.text.split('\n')[3])
    Remarks.append(i.text.split('\n')[4])

In [380]:
#selecting data for 11th prime minister and adding that data into lists
prime_12=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[12]')
for i in prime_12:
    Name.append(i.text.split('\n')[1])
    Born_dead.append(i.text.split('\n')[2])
    Term_of_office.append(i.text.split('\n')[3])
    Remarks.append(i.text.split('\n')[4])

In [381]:
#selecting data for 12th prime minister and adding that data into lists
prime_13=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[13]')
for i in prime_13:
    Name.append(i.text.split('\n')[1])
    Born_dead.append(i.text.split('\n')[2])
    Term_of_office.append(i.text.split('\n')[3])
    Remarks.append(i.text.split('\n')[4])

In [382]:
#selecting data for 13th prime minister and adding that data into lists
prime_14=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[14]')
for i in prime_14:
    Name.append(i.text.split('\n')[1])
    Born_dead.append(i.text.split('\n')[2])
    Term_of_office.append(i.text.split('\n')[3])
    Remarks.append(i.text.split('\n')[4])

In [383]:
#selecting data for 14th prime minister and adding that data into lists
prime_15=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[15]')
for i in prime_15:
    Name.append(i.text.split('\n')[1])
    Born_dead.append(i.text.split('\n')[2])
    Term_of_office.append(i.text.split('\n')[3])
    Remarks.append(i.text.split('\n')[4])

In [384]:
#selecting data for 15th prime minister and adding that data into lists
prime_16=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[16]')
for i in prime_16:
    Name.append(i.text.split('\n')[1])
    Born_dead.append(i.text.split('\n')[2])
    Term_of_office.append(i.text.split('\n')[3])
    Remarks.append(i.text.split('\n')[4])

In [385]:
#selecting data for 16th prime minister and adding that data into lists
prime_17=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[17]')
for i in prime_17:
    Name.append(i.text.split('\n')[1])
    Born_dead.append(i.text.split('\n')[2])
    Term_of_office.append(i.text.split('\n')[3])
    Remarks.append(i.text.split('\n')[4])

In [386]:
#selecting data for 17th prime minister and adding that data into lists
prime_18=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[18]')
for i in prime_18:
    Name.append(i.text.split('\n')[1])
    Born_dead.append(i.text.split('\n')[2])
    Term_of_office.append(i.text.split('\n')[3])
    Remarks.append(i.text.split('\n')[4])

In [387]:
#selecting data for 18th prime minister and adding that data into lists
prime_19=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[19]')
for i in prime_19:
    Name.append(i.text.split('\n')[1])
    Born_dead.append(i.text.split('\n')[2])
    Term_of_office.append(i.text.split('\n')[3])
    Remarks.append(i.text.split('\n')[4])

In [388]:
#creating dataframe
prime=pd.DataFrame({'Name':Name,'Born-dead':Born_dead,'Term of office':Term_of_office,'Remarks':Remarks})
#printing dataframe
prime

,Name,Born-dead,Term of office,Remarks
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,"16 years, 286 days"
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",13 days
2,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966,"1 year, 216 days"
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966,13 days
4,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977,"11 years, 59 days"
5,Morarji Desai,(1896–1995),24 March 1977 to 28 July 1979,"2 year, 126 days"
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980,170 days
7,Indira Gandhi,(1917–1984),14 January 1980 to 31 October 1984,"4 years, 291 days"
8,Rajiv Gandhi,(1944–1991),31 October 1984 to 2 December 1989,"5 years, 32 days"
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990,343 days
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991,223 days
11,P. V. Narasimha Rao,(1921–2004),21 June 1991 to 16 May 1996,"4 years, 330 days"
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996,16 days
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997,324 days
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998,332 days
15,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004,"6 years, 64 days"
16,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014,"10 years, 4 days"
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

In [389]:
driver.close() #closing driver

# Q11:Write s python program to display list of 50 Most expensive cars in the world (i.e. Company name, Model name and Price) from https://www.motor1.com/

In [426]:
#connecting to driver
driver=webdriver.Chrome(r'D:\softwares\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

#opening link
url='https://www.motor1.com/'
driver.get(url)

In [427]:
#clicking dropdown button 
dropdown_btn=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div[1]/div')
dropdown_btn.click()

In [428]:
#selecting 'LISTS' option
list_selection=driver.find_element(By.XPATH,'/html/body/div[3]/div[1]/div[3]/ul/li[4]/a')
list_selection.click()

In [429]:
#selecting and clicking '50 most expensive cars in the option' option
selecting_data=driver.find_element(By.XPATH,'/html/body/div[2]/div[9]/div[1]/div[1]/div/div/div[1]/div/div[1]/h3/a')
selecting_data.click()

In [430]:
#creating empty lists
car_brand_and_model=[]
price=[]

In [431]:
#scraping car brand and model
car_tag=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car_tag:
    car_brand_and_model.append(i.text)

In [432]:
#scraping car prices for 1st 10 cars
price1=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[4]')
for i in price1:
    price.append(i.text)
price_tag2=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[6]')
for i in price_tag2:
    price.append(i.text)
price_tag3=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[8]')
for i in price_tag3:
    price.append(i.text)    
price_tag4=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[10]')
for i in price_tag4:
    price.append(i.text)
price_tag5=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[12]')
for i in price_tag5:
    price.append(i.text)
price_tag6=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[14]')
for i in price_tag6:
    price.append(i.text)
price_tag7=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[16]')
for i in price_tag7:
    price.append(i.text)    
price_tag8=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[18]')
for i in price_tag8:
    price.append(i.text)
price_tag9=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[20]')
for i in price_tag9:
    price.append(i.text)
price_tag10=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[22]')
for i in price_tag10:
    price.append(i.text)

In [433]:
#scraping car prices for next 10 cars
price11=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[24]')
for i in price11:
    price.append(i.text)
price_tag12=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[26]')
for i in price_tag12:
    price.append(i.text)
price_tag13=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[28]')
for i in price_tag13:
    price.append(i.text)    
price_tag14=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[30]')
for i in price_tag14:
    price.append(i.text)
price_tag5=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[32]')
for i in price_tag5:
    price.append(i.text)
price_tag6=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[34]')
for i in price_tag6:
    price.append(i.text)
price_tag7=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[36]')
for i in price_tag7:
    price.append(i.text)    
price_tag8=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[38]')
for i in price_tag8:
    price.append(i.text)
price_tag9=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[40]')
for i in price_tag9:
    price.append(i.text)
price_tag10=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[42]')
for i in price_tag10:
    price.append(i.text)

In [434]:
#scraping car prices for next 10 cars
price1=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[44]')
for i in price1:
    price.append(i.text)
price_tag2=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[46]')
for i in price_tag2:
    price.append(i.text)
price_tag3=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[48]')
for i in price_tag3:
    price.append(i.text)    
price_tag4=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[50]')
for i in price_tag4:
    price.append(i.text)
price_tag5=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[52]')
for i in price_tag5:
    price.append(i.text)
price_tag6=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[54]')
for i in price_tag6:
    price.append(i.text)
price_tag7=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[56]')
for i in price_tag7:
    price.append(i.text)    
price_tag8=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[58]')
for i in price_tag8:
    price.append(i.text)
price_tag9=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[60]')
for i in price_tag9:
    price.append(i.text)
price_tag10=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[62]')
for i in price_tag10:
    price.append(i.text)

In [435]:
#scraping car prices for next 10 cars
price1=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[64]')
for i in price1:
    price.append(i.text)
price_tag2=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[66]')
for i in price_tag2:
    price.append(i.text)
price_tag3=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[68]')
for i in price_tag3:
    price.append(i.text)    
price_tag4=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[70]')
for i in price_tag4:
    price.append(i.text)
price_tag5=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[72]')
for i in price_tag5:
    price.append(i.text)
price_tag6=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[74]')
for i in price_tag6:
    price.append(i.text)
price_tag7=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[76]')
for i in price_tag7:
    price.append(i.text)    
price_tag8=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[78]')
for i in price_tag8:
    price.append(i.text)
price_tag9=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[80]')
for i in price_tag9:
    price.append(i.text)
price_tag10=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[82]')
for i in price_tag10:
    price.append(i.text)

In [436]:
#scraping car prices for last 10 cars
price1=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[84]')
for i in price1:
    price.append(i.text)
price_tag2=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[86]')
for i in price_tag2:
    price.append(i.text)
price_tag3=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[88]')
for i in price_tag3:
    price.append(i.text)    
price_tag4=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[90]')
for i in price_tag4:
    price.append(i.text)
price_tag5=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[92]')
for i in price_tag5:
    price.append(i.text)
price_tag6=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[94]')
for i in price_tag6:
    price.append(i.text)
price_tag7=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[96]')
for i in price_tag7:
    price.append(i.text)    
price_tag8=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[98]')
for i in price_tag8:
    price.append(i.text)
price_tag9=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[100]')
for i in price_tag9:
    price.append(i.text)
price_tag10=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[102]')
for i in price_tag10:
    price.append(i.text)

In [438]:
#creating dataframe
car_data=pd.DataFrame({'car name and model':car_brand_and_model[:50],
                       'price':price})
#printing dataframe
car_data

                 car name and model                        price
0                         Drako GTE          Price: $1.2 Million
1                     De Tomaso P72          Price: $1.3 Million
2                 Ferrari LaFerrari          Price: $1.4 Million
3                     Pagani Huayra          Price: $1.4 Million
4                      McLaren Elva          Price: $1.7 Million
5                       Czinger 21C          Price: $1.7 Million
6                     Ferrari Monza          Price: $1.7 Million
7                Gordon Murray T.33          Price: $1.7 Million
8                 Koenigsegg Gemera          Price: $1.7 Million
9                       Zenvo TSR-S          Price: $1.7 Million
10               Hennessey Venom F5          Price: $1.8 Million
11                  Bentley Bacalar          Price: $1.9 Million
12    Hispano Suiza Carmen Boulogne          Price: $1.9 Million
13           Bentley Mulliner Batur          Price: $2.0 Million
14                     Deus Vayanne          Price: $2.0 Million
15                      SSC Tuatara         Price: $2.0 Million*
16                      Lotus Evija          Price: $2.1 Million
17              Aston Martin Vulcan          Price: $2.3 Million
18                       Delage D12          Price: $2.3 Million
19                McLaren Speedtail          Price: $2.3 Million
20                     Rimac Nevera          Price: $2.4 Million
21                    Pagani Utopia          Price: $2.5 Million
22             Pininfarina Battista          Price: $2.5 Million
23                Ferrari FXX K Evo          Price: $2.6 Million
24               Gordon Murray T.50          Price: $2.6 Million
25             Lamborghini Countach          Price: $2.6 Million
26         Mercedes-AMG Project One          Price: $2.7 Million
27              Aston Martin Victor          Price: $3.0 Million
28      Hennessey Venom F5 Roadster                 $3.0 Million
29                 Koenigsegg Jesko          Price: $3.0 Million
30            Aston Martin Valkyrie          Price: $3.2 Million
31        W Motors Lykan Hypersport          Price: $3.4 Million
32                    McLaren Solus                 $3.5 Million
33        Pagani Huayra Roadster BC          Price: $3.5 Million
34         Bugatti Chiron Pur Sport          Price: $3.6 Million
35                 Lamborghini Sian          Price: $3.6 million
36                 Koenigsegg CC850          Price: $3.7 Million
37  Bugatti Chiron Super Sport 300+          Price: $3.9 Million
38               Lamborghini Veneno          Price: $4.5 Million
39                   Bugatti Bolide          Price: $4.7 Million
40                  Bugatti Mistral          Price: $5.0 Million
41              Pagani Huayra Imola          Price: $5.4 Million
42                     Bugatti Divo          Price: $5.8 Million
43              SP Automotive Chaos          Price: $6.4 Million
44                 Pagani Codalunga          Price: $7.4 Million
45         Mercedes-Maybach Exelero          Price: $8.0 Million
46               Bugatti Centodieci          Price: $9.0 Million
47             Rolls-Royce Sweptail         Price: $12.8 Million
48         Bugatti La Voiture Noire         Price: $13.4 Million
49           Rolls-Royce Boat Tail*  Price: $28.0 Million (est.)

In [ ]:
driver.close() #closing driver